<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<!-- Latest compiled and minified CSS -->
<link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous">

</head>
<div class = "container">
<body>

<div align = "left">
	
	<h1>Alumni List of NSU</h1>
	<br>
	<br>
	
		<table border="1" class="table table-striped">
			<thead>
				<tr>
					<th>Alumni First Name</th>
					<th>Alumni Last Name</th>
					<th>Alumni ID</th>
					<th>Alumni Email</th>
					<th>Alumni Major</th>
					<th>Actions</th>
				</tr>
			
			</thead>
			<tbody>
				<tr th:each="alumni : ${listOfAlumni}">
					<td th:text = "${alumni.firstName}"></td>
					<td th:text = "${alumni.lastName}"></td>
					<td th:text = "${alumni.nsuID}"></td>
					<td th:text = "${alumni.email}"></td>
					<td th:text = "${alumni.major}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${alumni.id})}" class = "btn btn-primary">Update</a> <a th:href="@{/deleteAlumni/{id}(id=${alumni.id})}" class = "btn btn-primary">Delete</a></td>

				</tr>
			
			</tbody>
		
		
		</table>
	
	
</div>

</body>
</div>
</html>